.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
/* Reseta estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: #333;
    background-image: url(./Conteudos/bckgrd.png);
    background: no-repeat;
    background-attachment: fixed;
}

/* Estilo do header e da navbar */
header {
    background-color: rgb(0, 138, 138); /* Ciano escuro */

    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    font-family: satisfy;
    text-shadow: 0 0 3px #2600ff, 0 0 5px #8000ca;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}



/* Estilo do conteúdo principal */
main {
    padding-top: 80px; /* Para evitar que o conteúdo fique por baixo da navbar fixa */
    padding: 20px;
}

.eventos {
    max-width: 1800px;
    margin: 0 auto;
    text-align: center;
}

.evento-container {
    display: flex;
    align-items: flex-start; /* Alinha as partes do container no topo */
    margin-bottom: 20px; /* Espaço entre os eventos */
    background-color: wheat;
    border: solid 40px #bb9246;
    border-style:ridge;
    padding-top:20px ;
    padding-bottom:20px ;
}

.desc {
    width: 45%; /* Ajuste a largura conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
    padding: 2%;
    background-color: #ebcc92;
    margin: 5px;
}
.desc h1{
    font-size: xx-large;
    color: black;
    margin: 8px;
}

.evento {
    background-color: #921e01; /* Vermelho */
    margin-left: 20px; /* Espaço entre a descrição e o evento */
    padding: 10px;
    border-radius: 10px;
    border: solid 15px #f70000;
    border-style: inset;
    color: white;
    width: 45%; /* Ajuste a largura conforme necessário */
    text-align: left; /* Alinha o texto à esquerda */
    padding-right: 35px;
}

.evento h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.evento p {
    font-size: 18px;
}

/* Estilo do rodapé */
footer {
    background-color: #008B8B; /* Ciano escuro */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    
}

img {
    width: 100%;
    margin: 10px;
    border: solid 5px #008B8B;
    
}
a:hover{
    color: #007474;
}
a{
    color:#008B8B ;
    transition: 10s;
    text-decoration: none;
}


.glr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.glr img {
    max-width: 32%;
    height: auto;
    margin: 10px;
    flex: 1 1 calc(33.33% - 20px); /* 3 imagens por linha, ajuste conforme necessário */
}
.ftr{
    padding: 1%;
    position: static;
    margin-left:-52px;
    width:105.53%;
    

}
